{% extends 'FrontEnd/base.html.twig' %}
{% block page_title %}EAER Project{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 100px; margin-top: 100px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Coming Soon</h1>

            </div>

        </div>
    </div>
{% endblock %}
