<!-- PAGE LOADER -->

<div id="preloader">
    <div class="spinner"></div>
</div>

<!-- HEADER LOGO -->

<header id="header" class="page white">
    <div class="wide">
        <div class="page-logo">
            <a href="">
                <img src="{{ asset('images/logo.png') }}" width="300" alt="">
            </a>
        </div>
    </div><!-- /wide -->
</header><!-- /header -->

<!-- MAIN CONTENT-->


    <!-- HEADER PARALLAX IMAGE -->

    {#<section id="parallax-bg-1" class="parallax-board" data-speed="6" data-type="background">
        <div class="welcome-logo" data-type="sprite" data-offsetY="-300" data-Xposition="50%" data-speed="-1"></div>
        <a id="video" class="player"></a>
        <ul class="video-controls" id="video-controls">
            <li class="play" onclick="jQuery('#video').playYTP()"></li>
            <li class="pause" onclick="jQuery('#video').pauseYTP()"></li>
            <li class="mute" onclick="jQuery('#video').toggleVolume()"></li>
        </ul><!-- end #video-controls -->
        <div class="scroll-arrow"><a href="#circle-grid"><i class="icon-chevron-down"></i></a></div><!-- scroll down arrow -->
    </section><!-- end #parallax-bg-1 -->#}

    <!-- NAVIGATION -->


